@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-regular.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  src: url("./proxima-nova-bold.ttf");
}

@font-face {
  font-family: "IM Fell English";
  font-weight: bold;
  src: url("./FeENsc2.ttf");
}

@font-face {
  font-family: "IM Fell English";
  src: url("./FeENrm2.ttf");
}

html {
  background-color: #888;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Proxima Nova";
  font-size: 16pt;
  line-height: 1.5;
}

body {
  margin: auto;
  width: 210mm;
}

.PageRight,
.PageLeft {
  background-color: #fff;
  height: 217mm;
  margin-top: 15mm;
  padding: 15mm;
  width: 165mm;
}

.PageRight {
  padding-left: 30mm;
}

.PageLeft {
  padding-right: 30mm;
}

.Ingredients {
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
}

.Ingredients div {
  width: 50mm;
}

.Ingredients .More {
  border-right: 1px solid #ccc;
  margin-right: 5mm;
  padding-right: 5mm;
}

.Ingredients div div {
  line-height: 1.2;
  margin-top: 0mm;
  margin-bottom: 3mm;
}

a {
  color: #444444;
  text-decoration: none;
}

.Title {
  /* font-family: "IM Fell English"; */
  font-size: 32pt;
  font-weight: bold;
  line-height: 1;
  margin-top: 10mm;
  margin-bottom: 3mm;
}

.Main {
  text-align: justify;
}

.Main div {
  margin-bottom: 5mm;
}

.HLine {
  border-bottom: 0.3mm solid #ff7f3f;
  padding: 0mm 3mm;
  margin: auto;
  text-align: center;
  width: 50mm;
}

.Hi {
  color: #ff7f3f;
  font-weight: bold;
}

@page {
  size: A5;
  margin: 0;
}

@media print {
  .PageRight,
  .PageLeft {
    margin-top: 0mm;
    page-break-after: always;
  }
}
